body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f7f3f1;
}

h2 {
  margin-bottom: 20px;
}

.contenedor {
  position: relative;
  width: 95vw;
  max-width: 420px;
  margin: auto;
}

/* Imagen del premio */
.premio {
  width: 100%;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: 1;
}

canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#inicioAudio {
  position: absolute;
  inset: 0;
  z-index: 5;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Mensaje final */
#mensaje {
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.95);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  z-index: 6;
}




